streamlit>=1.36
pandas>=2.2
openai>=1.54.0
packaging>=24.1
python-dotenv>=1.0
matplotlib>=3.8
pytesseract>=0.3.10
pdfplumber>=0.11
PyMuPDF>=1.24
faiss-cpu>=1.8
tiktoken>=0.7
python-docx>=1.1
python-pptx>=0.6
openpyxl>=3.1
pillow>=10.4
numpy>=1.26
tqdm>=4.66
dropbox>=11.36
PyYAML>=6.0
boto3>=1.34
seaborn>=0.13
XlsxWriter>=3.2
scipy>=1.11
scikit-learn>=1.4
# ydata-profiling>=4.6  # Commented out - requires Python <3.13
plotly>=5.17
snowflake-connector-python
