streamlit
openai
faiss-cpu
python-docx
pdfplumber
pytesseract
python-pptx
openpyxl
pandas
numpy
matplotlib
seaborn
Pillow
tqdm
scikit-learn
office365-rest-python-client
joblib
nltk
supabase
python-dotenv
